*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-form-container-box-shadow{
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.auth-link-container-text{
    text-decoration: none;
    font-size: 0.9rem;
    color: blue;
    font-weight: bold;
}

.app-icon-dashboard{
    color: #4A1292 !important;
}

.app-button-dashboard{
    margin: 1rem 0.5rem !important;
    border-radius: 0.5rem !important;
}

.app-button-dashboard:hover{
    background-color: #EDE7F6 !important;
}

.css-hyum1k-MuiToolbar-root{
    height: 4rem !important;
    padding: 1.5rem !important;
    width: 100% !important;
}

.css-1r9jet7 {
    height: 4rem !important;
}
